
.content-block .about-us {
    font-family: Arial;
}

    .about-us .line {
        border-right: 1px solid #E7E3E7;
    }

    .about-us h2 {
        margin-bottom: 15px;
        color: #393C39;
    }

    .about-us .offset30 p,
    .about-us .offset30 div,
    .about-us .offset30 ul {
        font-size: 12px;
        color: #5A5D5A;
        margin-bottom: 15px;
    }

    .about-us .offset30 ul { display: block; list-style: disc outside; padding-left: 20px;}
    .about-us .offset30 ul li { font-size: 12px; }

    .about-us p:last-child {
        margin-bottom: 0;
    }

.group-block {
    margin-bottom: 20px;
}

    .group-block > header {
        font-family: Arial;
        text-align: center;
        margin-bottom: 30px;
    }

    .group-block > header p {
        display: inline-block;
        background: #F0F1F1;
        color: #848284;
        font-size: 16px;
        font-weight: bold;
        padding: 0 10px;
        text-transform: uppercase;
    }

    .group-block > header hr {
        border: none;
        border-bottom: 1px solid #D6D7D6;
        height: 0;
        margin: -10px 0 0 0;
        padding: 0;
    }

    .group-block .wrapper {
        margin-right: -14px;
        margin-bottom: -20px;
    }

    .group-block .team {
        display: block;
        font-size: 0;
    }

        .group-block .team figure {
            display: block;
            margin-right: 14px;
            vertical-align: top;
            margin-bottom: 20px;
        }

        .group-block .team li:last-child {
            margin: 0;
        }

            .group-block .team figure img {
                width: 222px;
                height: 222px;
                display: block;
                background: #ffffff;
                border: 1px solid #DEDFDE;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
                padding: 5px;
                margin-bottom: 15px;
            }

            .group-block .team figure h3 {
                color: #5A5D5A;
                font-family: georgia;
                font-size: 16px;
                margin-bottom: 4px;
                font-weight: normal;
            }

            .group-block .team figure p {
                color: #000000;
                font-family: Arial;
                font-size: 12px;
            }