
.content-block .blog {
    font-family: Arial;
}

    .blog .sidebar {
        float: right;
        width: 245px;
        height: 100%;
        font-size: 12px;
        border-left: 1px solid #E7E3E7;
        margin-left: -246px;
    }

        .blog .sidebar .navigate {
            margin: 0 20px;
            margin-bottom: 15px;
        }

            .blog .sidebar .navigate h3 {
                color: #393C39;
                padding-bottom: 5px;

            }

            .blog .sidebar .navigate ul {
                display: block;
                font-size: 0;
            }

                .blog .sidebar .navigate ul li {
                    display: block;
                    font-size: 12px;
                    padding: 10px 0;
                    border-top: 1px solid #E7E3E7;
                }

                .blog .sidebar .navigate ul li a {
                    font-size: 13px;
                    height: 13px;
                    color: #393C39;
                    display: block;
                    text-decoration: none;
                    background: url("/images/list-point-arrow-navigate.png") no-repeat scroll left -28px transparent;
                    padding-left: 10px;
                }
                
                    .blog .sidebar .navigate ul li.active a,
                    .blog .sidebar .navigate ul li a:hover {
                        background: url("/images/list-point-arrow-navigate.png") no-repeat scroll left 4px transparent;
                        color: #FF8A10;
                    }

        .blog .sidebar .search {
            background: #ADAEAD;
            padding: 15px 20px;
            margin-bottom: 25px;
        }

            .blog .sidebar .search h3 {
                color: #F7F3F7;
                text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.35);
                margin-bottom: 5px;
            }

            .blog .sidebar .search .group-search {
                overflow: hidden;
                background: #949294;
                border: 1px solid #C6C7C6;
                border-radius: 4px;
                box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3) inset;
                font-size: 0;
                height: 25px;
            }

                .blog .sidebar .search .group-search input[type="text"] {
                    border: none;
                    background: transparent;
                    color: #ffffff;
                    font-size: 14px;
                    padding: 3px 5px;
                    margin: 0;
                    width: 162px;
                    height: 18px;
                    float: left;
                }

                .blog .sidebar .search .group-search input[type="submit"] {
                    background: transparent url("/images/search-icon.png") center center no-repeat;
                    border: none;
                    display: inline-block;
                    height: 25px;
                    margin: 0;
                    outline: none;
                    -moz-outline: none;
                    vertical-align: top;
                    width: 30px;
                    float: right;
                    cursor: pointer;
                }

        .blog .sidebar .posts {
            padding: 0 20px;
        }

            .blog .sidebar .posts h3 {
                color: #393C39;
                padding-bottom: 5px;
            }

            .blog .sidebar .posts ul {
                display: block;
                font-size: 0;
            }

                .blog .sidebar .posts ul li {
                    display: block;
                    font-size: 12px;
                    padding: 10px 0;
                    border-top: 1px solid #E7E3E7;
                }

                .blog .sidebar .posts ul li:last-child {
                    border-bottom: 1px solid #E7E3E7;
                }

                    .blog .sidebar .posts ul li a {
                        font-size: 13px;
                        color: #0069A5;
                        display: block;
                        text-decoration: none;
                    }

                    .blog .sidebar .posts ul li a:hover {
                        text-decoration: underline;
                    }


    .blog .content {
        font-size: 14px;
        float: left;
        width: 100%;
    }

        .blog .content .wrapper {
            margin: 0 245px 0 0px;
            border-right: 1px solid #E7E3E7
        }

            .blog .content .wrapper .social-blog {
                font-size: 14px;
                padding: 0 20px;
            }

            .blog .content .wrapper .navigate {
                font-size: 12px;
                border-bottom: 1px solid #E7E3E7;
                margin: 0 20px 30px 20px;
                padding: 0 0 5px;
            }

            .blog .content .wrapper .navigate:last-child {
                border-bottom: none;
                margin: 0 20px 0 20px;
                padding: 0;
                font-size: 13px;
            }

                .blog .content .wrapper .navigate a {
                    text-decoration: none;
                    color: #0069A5;
                    font-size: 11px;
                }

                .blog .content .wrapper .navigate .prev {
                    float: left;
                }
                .blog .content .wrapper .navigate .next {
                    float: right;
                }

        .blog .content .wrapper article {
            border-bottom: 1px solid #E7E3E7;
            display: block;
            margin: 0 20px 20px;
            padding-bottom: 20px;
            position: relative;
        }

            .blog .content .wrapper article h2 {
                color: #393C39;
                font-size: 25px;
                margin-bottom: 15px;
            }

                .blog .content .wrapper article h2 a {
                    text-decoration: none;
                    color: inherit;
                }
                .blog .content .wrapper article h2 a:hover {
                    text-decoration: underline;
                }

            .blog .content .wrapper article figure {
                border: 1px solid #D6D3D6;
                padding: 4px;
                float: left;
                display: inline-block;
                overflow: hidden;
                margin-bottom: 20px;
                margin-right: 20px;
            }

                .blog .content .wrapper article figure img {
                    display: block;
                }
        .blog .content .wrapper article .post {
            
        }
            .blog .content .wrapper article .post-read-more {
                position: absolute;
                bottom: 40px;
                right: 0;
                display: inline-block;
            }

            .blog .content .wrapper .post .text {
                color: #5A5D5A;
                margin-bottom: 15px;
            }

                .blog .content .wrapper .post .text p,
                .blog .content .wrapper .post .text div,
                .blog .content .wrapper .post .text ul {
                    margin-bottom: 20px;
                    line-height: 18px;
                }

                .blog .content .wrapper .post .text ul { display: block; list-style: disc inside; padding-left: 20px;}
                .blog .content .wrapper .post .text ul li { font-size: 12px; }


            .blog .content .wrapper article .post .description {
                margin-bottom: 12px;
                display: block;
                height: 18px;
            }


                .blog .content .wrapper article .post .description .date {
                    color: #7B797B;
                    float: left;
                    font-size: 11px;
                }

                .blog .content .wrapper article .post .description .category {
                    float: right;
                    color: #393C39;
                    font-size: 11px;
                }

                    .blog .content .wrapper article .post .description .category a {
                        color: #0069A5;
                        text-decoration: none;
                    }

                    .blog .content .wrapper article .post .description .category a:hover {
                        text-decoration: underline;
                    }


                        .category .bubble {
                            display: inline-block;
                            position: relative;
                            margin-top: -5px;
                        }

                            .category .bubble .content {
                                background: #0069A5;
                                border-radius: 10px;
                                color: #ffffff;
                                font-size: 10px;
                                padding: 1px 3px;
                                text-align: center;
                                position: relative;
                                z-index: 10;
                            }

                            .category .bubble .arrow {
                                border: 3px solid #0069A5;
                                border-top-color: transparent;
                                border-left-color: transparent;
                                bottom: 0px;
                                display: block;
                                left: 0px;
                                position: absolute;
                                height: 0;
                                width: 0;
                                z-index: 0;
                            }