.content-block .careers {

}
    .careers hr {
        display: block;
        margin: 20px 30px;
        border: none;
        border-bottom: 1px solid #E7E3E7;
    }

    .careers .line-list {
        font-size: 0;
        display: block;
    }

        .careers article {
            display: inline-block;
            vertical-align: top;
            border-right: 1px solid #E7E3E7;
        }
            .careers article.last {
                border-right: none;
            }

        .careers article h2 {
            color: #393C39;
            margin-bottom: 15px;
        }

        .careers article p {
            color: #5A5D5A;
            margin-bottom: 20px;
        }