
.content-block .common {
    padding: 0 30px;
}
    .common.contact-us {
        padding: 0 20px;
    }
    .common hr {
        display: block;
        margin: 20px 0;
        border: none;
        border-bottom: 1px solid #E7E3E7;
    }

    .common .content {
        width: auto;
        height: auto;
    }

        .common .content h2 {
            color: #6b6d6b;
            font-size: 14px;
            font-weight: bold;
            font-family: "Trebuchet MS", Helvetica, Garuda,	sans-serif;
            margin-bottom: 20px;
        }

        .common .content img {
            display: inline;
            margin: 0 10px 10px 0;
            float: left;
        }
        
        .common .content,
        .common .content p,
        .common .content div,
        .common .content ul {
            vertical-align: top;
            margin-bottom: 15px;
            color: #5A5D5A;
            font-size: 12px;
        }
        .common .content, 
        .common .content div { 
            margin-bottom: 0; 
        }

        .common .content ul { display: block; list-style: disc inside; padding-left: 20px;}
        .common .content ul li { font-size: 12px; }


    .common .send-form-block {

    }

        .send-form-block h3 {
            color: #212021;
            font-weight: bold;
            margin-bottom: 20px;
        }


        .send-form-block label {
            display: block;
            font-size: 12px;
            margin-bottom: 4px;
            color: #5A5D5A;
        }

        .send-form-block textarea {
            width: 606px;
            resize: none;
            margin-bottom: 20px;
            border: 1px solid #D6D3D6;
            border-radius: 4px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15) inset;
            padding: 4px 8px;
            font-size: 14px;
            height: 80px;
        }

        .send-form-block .description {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            margin-left: 30px;
            margin-top: 15px;
            width: 264px;
            color: #5A5D5A;
            font-style: italic;
        }

        .send-form-block form {
            display: inline-block;
        }

        .send-form-block table {
            width: 600px;
        }

        .send-form-block table tr td:first-child input {
            margin-right: 20px;
        }

        .send-form-block table tr td {
            height: 65px;
        }


        .send-form-block input {
            width: 284px;
            display: block;
            border: 1px solid #D6D3D6;
            border-radius: 4px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15) inset;
            padding: 6px 8px;
            font-size: 14px;
        }

        .send-form-block #uploadFile {
            background: transparent;
            border: none;

        }