
.content-block .community {
    padding: 0 30px;
}

    .community figure {
        position: relative;
        display: inline-block;
        height: 226px;
        vertical-align: top;
        width: 331px;
        float: left;
    }

        .community figure img {
            position: absolute;
            z-index: 10;
        }

        .community figure a {
            width: 100%;
            height: 100%;
            position: absolute;
            display: block;
            background: url('/images/video-click-pictuer.png') center center no-repeat;
            z-index: 20;
        }

    .community .social-block {
        display: block;
        margin-left: 360px;
    }

    .community .social-block div,
    .community .social-block p,
    .community .social-block ul
    {
        font-size: 12px;
        color: #393C39;
        margin-bottom: 15px;
    }

    .community .social-block ul { display: block; list-style: disc inside; padding-left: 20px;}
    .community .social-block ul li { font-size: 12px; }

    .community .social-block hr {
        margin: 0 0 15px 0;
        display: block;
        border: none;
        border-bottom: 1px solid #E7E3E7;
    }

    .community .social-block .social-group h3 {
        font-size: 14px;
        font-weight: bold;
        color: #393C39;
        margin-bottom: 10px;
    }

    .community .social-block .social-group nav {
        display: block;
        font-size: 0;
    }

        .community .social-block .social-group nav a {
            display: inline-block;
            width: 32px;
            height: 32px;
            background: red;
            vertical-align: top;
            margin-right: 10px;
        }

        .community .social-block .social-group nav a:last-child {
            margin: 0;
        }

        .community .social-block .social-group nav .twitter { background: url("/images/community-twitter.png") center center no-repeat; }
        .community .social-block .social-group nav .facebook { background: url("/images/community-facebook.png") center center no-repeat; }
        .community .social-block .social-group nav .google { background: url("/images/community-google.png") center center no-repeat; }