.content-block .contacts {
    font-family: Arial;
}

    .contacts article {
        border-right: 1px solid #dddddd;
        vertical-align: top;
        position: relative;
    }
        .contacts article.last {
            border-right: none;
        }
        
        .contacts article.next-loc {
            margin-right: -1px;
        }

        .contacts article h2 {
            font-size: 15px;
            color: #393C39;
            margin-bottom: 10px;
        }

        .contacts article p {
            color: #5A5D5A;
        }

        .contacts article .skype-call-us {
            margin: 20px 0;
        }

        .contacts article .skype-call-us .icon {
            display: inline-block;
            height: 27px;
            min-width: 27px;
            background: url("/images/skype-icon.png") left top no-repeat;
            vertical-align: top;
            position: relative;
            z-index: 10;
        }

            .skype-call-us > p {
                display: inline-block;
                color: #5A5D5A;
                font-size: 12px;
                padding: 3px 10px 3px 16px;
                background: #E7E7E7;
                background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1));
                background: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1));
                background: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1));
                background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.1));
                display: inline-block;
                margin: 4px 0 0 -10px;
                border-radius: 0 10px 10px 0;
                position: relative;
                z-index: 0;
            }
        
        .contacts article .botom-information {
            bottom: 0;
            position: relative;
        }
            .contacts article .map iframe {
                margin-bottom: 10px;
            }

        .contacts article a {
            font-size: 11px;
            color: #0069A5;
            text-decoration: none;
        }

            .contacts article a:hover {
                text-decoration: underline;
            }