

.content-block .list-description {
    margin: 0 30px;
}

    .list-description .empty {
        color: #5A5D5A;
        font-size: 12px;
    }

    .list-description > div {
        border-bottom: 1px solid #E7E3E7;
        padding: 20px 0;
    }

        .list-description > div h2 {
            font-size: 14px;
            color: #393C39;
            margin-bottom: 10px;
        }

        .list-description > div div.glossary-description {
            color: #5A5D5A;
            font-size: 12px;
        }


.pagination {
    font-size: 12px;
    color: #5A5D5A;
    margin: 0 30px;
}

    .pagination ul {
        display: inline-block;
        font-size: 0;
        padding-left: 4px;
    }

        .pagination ul li {
            display: inline-block;
            font-size: 12px;
            color: #393C39;
            padding: 0 4px;
        }
        
        .pagination ul li.first,
        .pagination ul li.last,
        .pagination ul li.hidden {
            display: none;
        }

        .pagination ul li.selected,
        .pagination ul li a:hover {
            color: #F77900;
        }
            .pagination ul li a {
                color: inherit;
                text-decoration: none;
            }
            
.glossary-description strong, .glossary-description b {
    font-weight: bold;
}
.glossary-description em { 
    font-style: italic; 
}
.glossary-description p, .glossary-description ul { 
    margin-bottom: 10px; 
}
.glossary-description ul { 
    list-style: disc;
    padding-left: 2em !important;
}