#content .our-info-block {
    border-top: 5px solid #FF9A31;
    background: #313431 url("/images/top-shadow.png") left top repeat-x;
}

#content .info-block {
    background: #F7F3F7 url("/images/bottom-shadow.png") bottom left repeat-x;
}

    .our-info-block section .wrapper,
    .info-block section .wrapper {
        margin-right: -30px;
    }

    .our-info-block section,
    .info-block section {
        width: 980px;
        margin: 0 auto;
        padding: 44px 0;
        font-size: 0;
        overflow: hidden;
    }
    
    .our-info-block .swiper-wrapper {height: 192px !important}

        .our-info-block section article,
        .info-block section article,
        .info-block section figure {
            font-family: Arial;
            display: inline-block;
            vertical-align: top;
            margin-right: 30px;
        }

            .our-info-block section article h2 {
                font-size: 26px;
                font-weight: bold;
                color: #ffffff;
                text-transform: uppercase;
                margin-bottom: 20px;
                min-height: 29px;
                padding-left: 40px;
            }

                .our-info-block section article h2 span {
                    color: #FF9A31;
                }

                h2.our-services  { background: url("/images/our-servicws.png") left center no-repeat; }
                h2.our-solutions { background: url("/images/our-solutions.png") left center no-repeat; }
                h2.our-techology { background: url("/images/our-techology.png") left center no-repeat; }

            .our-info-block section article p {
                color: #BDBEC6;
                font-size: 13px;
                margin-bottom: 20px;
            }

            .our-info-block section article a {
                font-size: 13px;
                font-style: italic;
                color: #FF9A31;
                text-decoration: none;
                font-family: georgia;
            }

            .our-info-block section article a:hover {
                color: #ffffff;
            }

.twitter-block h3 {
    font-weight: bold;
    color: #393C39;
    text-transform: uppercase;
    margin-bottom: 18px;
    padding-left: 40px;
    background: url("/images/twitter-icon-info-panel.png") left center no-repeat;
}

    #tweets {
        font-size: 0;
        display: inline-block;
        margin-bottom: 20px;
        min-width: 310px;
    }
    
    .twitter-block ul li {
        display: block;
    }

    .twitter-block .tweet-item {
        border-bottom: 1px solid #D6DBDE;
        padding-bottom: 7px;
        padding: 7px 0;
    }
        .twitter-block .tweet-item a {
            display: block;
            font-family: georgia;
            font-size: 12px;
            font-style: italic;
            color: #5A5D5A;
            text-decoration: none;
            margin-bottom: 7px;
        }

        .twitter-block .tweet-item a:hover {
            color: #212021;
        }

        .twitter-block .tweet-item time {
            display: block;
            font-size: 11px;
            color: #939593;
        }

.news-block h3 {
    font-weight: bold;
    color: #393C39;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-left: 40px;
    background: url("/images/twitter-icon-info-panel.png") left center no-repeat;
}

    .news-block h4 {
        color: #000000;
        margin-bottom: 10px;

    }

    .news-block p {
        color: #5A5D5A;
        font-size: 13px;
        margin-bottom: 20px;

    }

.video-link-block {
    background: #ffffff;
    position: relative;
    border: 6px solid #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    margin: 0 !important;
    overflow: hidden;
    text-align: center;
    width: 290px !important;
}

    .video-link-block img {
        position: absolute;
        display: inline-block;
        left: 0;
        top: 0;
        z-index: 0;
    }

    .video-link-block a {
        display: block;
        position: absolute;
        background: url("/images/video-click-pictuer.png") center center no-repeat;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }


.body-page .login-block {
    background: #ffffff;
    margin: 0 auto;
    border: 1px solid #DEDFDE;
    border-radius: 5px;
    padding: 40px 50px;
    font-family: Arial;
    display: block;
    width: 300px;
    margin-bottom: 40px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

    .login-block label {
        display: block;
        font-size: 12px;
        margin-bottom: 6px;

    }

    .login-block input {
        width: 284px;
        display: block;
        margin-bottom: 20px;
        border: 1px solid #D6D3D6;
        border-radius: 4px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15) inset;
        padding: 6px 8px;
        font-size: 14px;
    }

    .login-block .access-error {
        color: #AD2421;
        border-bottom: 1px solid #DEDFDE;
        font-size: 20px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        text-align: center;
    }

    .login-block a.forgot {
        float: right;
        color: #006DA5;
        font-size: 12px;
        text-decoration: none;
    }

        .login-block a.forgot:hover,
        .login-block a.secure-login:hover,
        .login-block a.logout:hover {
            text-decoration: underline;
        }

    .login-block a.secure-login {
        color: #006DA5;
        font-size: 14px;
        text-decoration: none;
        background: url("/images/secure-link-icon.png") center left no-repeat;
        display: inline-block;
        height: 21px;
        padding-left: 30px;
        padding-top: 4px;
        vertical-align: top;
    }

    .login-block a.logout {
        float: right;
        color: #006DA5;
        font-size: 14px;
        text-decoration: none;
        background: url("/images/logout-link-icon.png") center left no-repeat;
        display: inline-block;
        height: 21px;
        padding-left: 30px;
        padding-top: 5px;
        vertical-align: top;
    }


.body-page .secure-login-block {
    background: #ffffff url("/images/secure-lorin-or.png") center center no-repeat;
    border: 1px solid #DEDFDE;
    border-radius: 5px;
    padding: 30px 50px;
    font-family: Arial;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto 40px auto;
}

    .secure-login-block h2 {
        color: #7B7D7B;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 15px;
    }

.body-page .secure-login-block .secure-login {
    display: inline-block;
}


.secure-login-block label {
    display: block;
    font-size: 12px;
    margin-bottom: 6px;

}

.secure-login-block input {
    width: 284px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #D6D3D6;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15) inset;
    padding: 6px 8px;
    font-size: 14px;
}

.secure-login-block .access-error {
    color: #AD2421;
    border-bottom: 1px solid #DEDFDE;
    font-size: 20px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.secure-login-block a.forgot {
    float: right;
    color: #006DA5;
    font-size: 12px;
    text-decoration: none;
}

.secure-login-block a.forgot:hover,
.secure-login-block a.secure-login:hover,
.secure-login-block a.logout:hover {
    text-decoration: underline;
}

.secure-login-block a.secure-login {
    color: #006DA5;
    font-size: 14px;
    text-decoration: none;
    background: url("/images/secure-link-icon.png") center left no-repeat;
    display: inline-block;
    height: 21px;
    padding-left: 30px;
    padding-top: 4px;
    vertical-align: top;
}

.secure-login-block a.logout {
    float: right;
    color: #006DA5;
    font-size: 14px;
    text-decoration: none;
    background: url("/images/logout-link-icon.png") center left no-repeat;
    display: inline-block;
    height: 21px;
    padding-left: 30px;
    padding-top: 5px;
    vertical-align: top;
}

.body-page .anonymous-login {
    width: 302px;
    float: right;
    font-family: Arial;
}

    .anonymous-login p {
        color: #393839;
        font-size: 12px;
        margin-bottom: 20px;
        min-height: 120px;
    }

    .anonymous-login a {
        background: #000000;
        background: -webkit-linear-gradient(top, #292C29, #000000) repeat scroll 0 0 transparent;
        background: -moz-linear-gradient(top, #292C29, #000000) repeat scroll 0 0 transparent;
        background: -o-linear-gradient(top, #292C29, #000000) repeat scroll 0 0 transparent;
        background: linear-gradient(top, #292C29, #000000) repeat scroll 0 0 transparent;
        border: none;
        border-radius: 4px;
        color: #ffffff;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
        padding: 8px 15px;
        text-decoration: none;
    }

    .anonymous-login a:hover {
        background: #212421;
        background: -webkit-linear-gradient(top, #444B44, #212421) repeat scroll 0 0 transparent;
        background: -moz-linear-gradient(top, #444B44, #212421) repeat scroll 0 0 transparent;
        background: -o-linear-gradient(top, #444B44, #212421) repeat scroll 0 0 transparent;
        background: linear-gradient(top, #444B44, #212421) repeat scroll 0 0 transparent;
    }