
.content-block hr {
    display: block;
    margin: 20px 30px;
    border: none;
    border-bottom: 1px solid #E7E3E7;
}

.content-block .investors-content {
    display: block;
    padding: 0 30px 0;
}

    .content-block .investors-content img {
        display: inline-block;
        float: left;
        padding-right: 20px;
    }

    .content-block .investors-content p {
        color: #5A5D5A;
        padding: 0 0 20px;
    }

    .content-block .investors-content p:last-child {
        padding: 0;
    }

    .content-block .list-proposal {
        font-size: 0;
        width: auto;
    }

        .list-proposal article {
            display: inline-block;
            vertical-align: top;
            border-right: 1px solid #E7E3E7;
        }

        .list-proposal article:last-child {
            border: none;
        }

        .list-proposal article h2 {
            color: #393C39;
            margin-bottom: 15px;
        }

        .list-proposal article p {
            color: #5A5D5A;
            margin-bottom: 20px;
        }