
.content-block .resource {
    padding: 0 30px;
    margin-right: -10px;
}

    .resource .group-button {
        margin-bottom: 15px;
    }

    .resource .group-button:last-child {
        margin: 0;
    }


    .resource b {
        font-weight: bold;
    }

    .resource h2 {
        font-size: 14px;
        color: #737173;
        margin-bottom: 15px;
        text-align: center;
    }

    .resource .ftp-link a {
        text-shadow: 2px 1px 0 #FFFFFF;
        display: block;
        font-size: 16px;
        color: #0069A5;
        padding: 20px 20px 20px 54px;
        background: url("/images/ftp-icon.png") 20px 18px no-repeat;
        text-decoration: none;
    }

    .resource .ftp-link,
    .resource .db-link {
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05) inset;
        border: 1px solid #D6D7D6;
        border-radius: 5px;
        background: #EFEFEF;
        background: -webkit-linear-gradient(top, #F7F7F7, #E7E7E7);
        background: -moz-linear-gradient(top, #F7F7F7, #E7E7E7);
        background: -o-linear-gradient(top, #F7F7F7, #E7E7E7);
        background: linear-gradient(top, #F7F7F7, #E7E7E7);
        margin-right: 20px;
    }


    .resource .db-link a {
        text-shadow: 2px 1px 0 #FFFFFF;
        display: block;
        font-size: 16px;
        color: #0069A5;
        padding: 20px 20px 20px 54px;
        background: url("/images/db-icon.png") 20px 18px no-repeat;
        text-decoration: none;
    }

        .resource .db-link:hover,
        .resource .ftp-link:hover {
            background: #D6D3D6;
            background: -webkit-linear-gradient(top, #EFEFEF, #D6D3D6);
            background: -moz-linear-gradient(top, #EFEFEF, #D6D3D6);
            background: -o-linear-gradient(top, #EFEFEF, #D6D3D6);
            background: linear-gradient(top, #EFEFEF, #D6D3D6);
        }

        .resource .db-link:hover a,
        .resource .ftp-link:hover a {
            color: #393C39;
        }