
.content-block .services {
    margin-bottom: -20px;
    margin-right: -20px;
}

    .services article {
        display: inline-block;
        vertical-align: top;
        background: #ffffff;
        border: 1px solid #DEDFDE;
        margin-right: 20px;
        font-family: Arial;
        margin-bottom: 20px;
    }

    .services article figure {
        display: inline-block;
        margin-right: 15px;
        float: left;
    }

        .services article h2 {
            color: #393C39;
            margin-bottom: 10px;
            margin-left: 185px;
            margin-top: 15px;
            margin: 15px 15px 10px 0;
            margin-right: 15px;
        }

        .services article p {
            color: #5A5D5A;
            height: 72px;
            margin-bottom: 12px;
            margin-right: 15px;
            overflow: hidden;
        }

        .services article figure img {
            display: block;
        }