#slider {
    width: 980px;
    height: 370px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-Index: 10;
}

    #slider .pagination {
        bottom: 23px !important;
        display: block;
        position: absolute;
        left: 0 !important;
        text-align: right;
        width: 100%;
        z-Index: 20;
    }

        #slider .pagination .swiper-pagination-switch {
            display: inline-block;
            background: #ffffff;
            background: -webkit-linear-gradient(top, #EFEFEF, #ffffff);
            background: -moz-linear-gradient(top, #EFEFEF, #ffffff);
            background: -o-linear-gradient(top, #EFEFEF, #ffffff);
            background: linear-gradient(top, #EFEFEF, #ffffff);
            border: 1px solid #DEDFDE;                
            font-size: 0;
            margin-right: 5px;
            padding: 4px;
            cursor: pointer;
            color: transparent;
            border-radius: 50% 50% 50% 50%;				
        }

        #slider .pagination .swiper-pagination-switch.swiper-active-switch a,
        #slider .pagination .swiper-pagination-switch.swiper-active-switch:hover a {
            display: block;
            background: -webkit-linear-gradient(top, #FFA64A, #FF8A10);
            background: -moz-linear-gradient(top, #FFA64A, #FF8A10);
            background: -o-linear-gradient(top, #FFA64A, #FF8A10);
            background: linear-gradient(top, #FFA64A, #FF8A10);
        }
            #slider .pagination .swiper-pagination-switch:hover a {
                background: -webkit-linear-gradient(top, #BDBEBD, #949294);
                background: -moz-linear-gradient(top, #BDBEBD, #949294);
                background: -o-linear-gradient(top, #BDBEBD, #949294);
                background: linear-gradient(top, #BDBEBD, #949294);
            }

            #slider .pagination .swiper-pagination-switch a {
                display: block;
                height: 8px;
                width: 8px;
                font-size: 1px;
                color: transparent;
                border-radius: 50%;					
            }




#slider .swiper-slide {
    width: 980px;
    height: 370px;
}

#slider .swiper-slide {
    position: relative;
}

#slider .swiper-slide img {
    display: inline-block;
    width: auto !important;
    height: auto !important;
    position: absolute;
}

#slider .swiper-slide section {
    position: absolute;
    left: 500px;
    right: 20px;
}

    #slider .swiper-slide section header {
        /*color: #A5A6A5;*/
        color: #313431;
        font-family: Arial;
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 0;
        font-weight: bold;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.70);
    }


    #slider .swiper-slide section p {
        color: #292829;
        font-family: Arial;
        font-size: 23px;
        margin-bottom: 10px;
    }

    #slider .swiper-slide section .button {

    }