#solution-list > .solution {
    text-align: center;
}
    #solution-list > .solution * {
        text-align: left;
    }

.content-block .solution {
    margin-bottom: -20px;
    margin-right: -20px;
}

    .solution article {
        display: block;
        width: auto;
        vertical-align: top;
        background: #ffffff;
        border: 1px solid #DEDFDE;
        padding: 20px;
        margin-right: 20px;
        font-family: Arial;
        margin-bottom: 20px;
    }

        .solution article img {
            display: inline-block;
            margin-bottom: 15px;
        }

        .solution article h2 {
            color: #393C39;
            margin: 15px 0;
            display: inline-block;
        }

        .solution article p,
        .solution article div,
        .solution article ul {
            margin-bottom: 12px;
            overflow: hidden;
            color: #5A5D5A;
        }

        .solution article ul { display: block; list-style: disc inside; padding-left: 20px;}
        .solution article ul li { font-size: 12px; }