.image-item {
    padding: 10px;
    min-height: 20px;
    margin-right: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#drag-zone {
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    display: inline-block !important;
    width: 500px;
    text-align: center;
    margin-left: 100px;
}
#drag-zone.drop-area-active {
    background: #D8FBEB;
}
.qq-upload-button { display: inline-block !important;}