.login-block input,
.login-block button,
footer section .functional-block .search-block,
.search-block .background-button,
.button,
.submit-button,
footer section .functional-block .newsletter-block,
.functional-block .search-block input,
#slider ol li,
#wrapper > header section nav .group-login .top-login-menu,
.resource .ftp-link, .resource .db-link,
.skype-call-us > p,
.send-form-block textarea,
.send-form-block input,
.jq-file__browse,
.jq-file,
.blog .sidebar .search .group-search,
.category .bubble .content,
.secure-login-block input,
#wrapper > header section .top-navigate-menu > ul > li.has-sub:hover,
#wrapper > header section .top-navigate-menu > ul > li.has-sub:hover > a,
#wrapper > header section .top-navigate-menu > ul > li > ul
{
    position: relative;
    zoom: 1;
    behavior: url('/css/pie/PIE.php');
}

footer section .functional-block .search-block {
	background: #f6f6f6;
} 

#slider ol li.active-marker a,
#slider ol li.active-marker:hover a {
    background: url("/images/slider-list.png") 0 0 no-repeat;
}

#slider ol li:hover a {
    background: url("/images/slider-list.png") 0 -34px no-repeat;
}


.send-form-block textarea {
    background: #f3f3f3;
    overflow: auto;
    resize: none;
}

input,
#uploadFile-styler {
    background: #f3f3f3;
}

.search-block .background-button { -pie-background: linear-gradient(#FFC384, #FF8A10); }
.search-block .background-button:hover { -pie-background: linear-gradient(#FFC384, #FF9F3B); }

.button { -pie-background: linear-gradient(#007DBD, #00659C); }
.button:hover { -pie-background: linear-gradient(#08618C, #003852); }

.submit-button { -pie-background: linear-gradient(#292C29, #000000); }
.submit-button:hover { -pie-background: linear-gradient(#444B44, #212421); }

#wrapper > header section nav .group-login .top-login-menu { -pie-background: linear-gradient(#FF9A31, #FF8610); }

.content-block.backgrounded {
	position: relative;
    zoom: 1;
	box-shadow: #666 1px 1px 2px;
    behavior: url('/css/pie/PIE.php');
}