
html {
    height: 100%;
    min-width: 1000px;
}

body {

    background: #f0f1f1;
    width: 100%;
    height: 100%;
}


.clear { clear: both; }
span.empty { padding: 0 20px; font-size: 15px; color: #393C39; display: block; }

p { font-size: 12px; }
h2 { font-size: 21px; font-weight: bold; }
h3 { font-size: 17px; font-weight: bold; }
h4 { font-size: 17px; font-weight: normal; }


input,
textarea,
input,
button {

}

#wrapper {
    height: auto !important;
    margin: 0 auto;
    min-height: 100%;
}

#wrapper > header {
    display: block;
    border-top: 5px solid #FF9A31;
    background: url("/images/menu-block-shadow.png") bottom left repeat-x;
    height: 168px;
    font-family: Arial, Verdana;
}

    #wrapper > header section {
        width: 980px;
        margin: 0 auto;
        height: 98px;
        position: relative;
    }

        #wrapper > header section nav {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 0;
        }

        #wrapper > header section nav .group-login {
            display: inline-block;
            vertical-align: top;
            margin-right: -3px;
            margin-top: -1px;
        }

            #wrapper > header section nav .group-login .left-radius {
                display: inline-block;
                width: 3px;
                height: 3px;
                vertical-align: top;
                background: url("/images/left-radius.png") top right no-repeat;
            }

            #wrapper > header section nav .group-login .right-radius {
                display: inline-block;
                width: 3px;
                height: 3px;
                vertical-align: top;
                background: url("/images/right-radius.png") top left no-repeat;
            }

        #wrapper > header section nav .group-login .top-login-menu {
			background: #FF9A31;
            background: -webkit-linear-gradient(top, #FF9A31, #FF8610);
            background: -moz-linear-gradient(top, #FF9A31, #FF8610);
            background: -o-linear-gradient(top, #FF9A31, #FF8610);
            background: linear-gradient(top, #FF9A31, #FF8610);
            display: inline-block;
            font-size: 0;
            padding: 8px 10px 10px;
            vertical-align: top;
			border-radius: 0 0 4px 4px;
			
        }

            #wrapper > header section nav .group-login .top-login-menu li {
                display: inline-block;
                font-size: 11px;
                font-weight: bold;
                color: #ffffff;
                padding: 0 3px;
                border-right: 1px solid ;
                line-height: 9px;
            }

            #wrapper > header section nav .group-login .top-login-menu li:last-child {
                border: none;
            }

                #wrapper > header section nav .group-login .top-login-menu li a {
                    color: inherit;
                    text-decoration: none;
                }

                #wrapper > header section nav .group-login .top-login-menu li a:hover {
                    color: inherit;
                    text-decoration: underline;
                }

        #wrapper > header section nav .top-language-menu {
            display: inline-block;
            font-size: 0;
            padding: 6px;
        }

            #wrapper > header section nav .top-language-menu li {
                display: inline-block;
                font-size: 13px;
                color: #7B797B;
                padding: 0 5px;
                border-right: 1px solid #7B797B;
                text-transform: uppercase;
                line-height: 11px;
            }

                #wrapper > header section nav .top-language-menu li:last-child {
                    border: none;
                }

                #wrapper > header section nav .top-language-menu li a {
                    color: inherit;
                    text-decoration: none;
                }

                #wrapper > header section nav .top-language-menu li a:hover,
                #wrapper > header section nav .top-language-menu li.active {
                    color: #FF7D00;
                }

        #wrapper > header section .logotype {
            display: inline-block;
            text-align: center;
            width: 248px;
            height: 132px;
            background: url("/images/logotype.png") no-repeat;
            vertical-align: top;
        }

        #wrapper >header section .logotype figure {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

            #wrapper > header section .logotype figure img {
                display: inline-block;
            }

        #wrapper > header section .top-navigate-menu {
            display: inline-block;
            height: auto;
            width: auto;
            font-size: 0;
            right: 0;
            top: 67px;
            position: absolute;
        }

/*******************************/


#mega-menu ul, #mega-menu ul li {list-style: none;}
#mega-menu ul {position: relative; padding: 0; margin: 0;}
#mega-menu ul li ul {display: none;}
#mega-menu .sub {display: none;}
#mega-menu .sub ul {display: block;}

#mega-menu {
    font: normal 13px Arial, sans-serif;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
}
#mega-menu .sub ul {
    display: block;
}
#mega-menu {
    width: 100%;
    position: relative;
}

#mega-menu li {
    float: left;
    margin: 0;
    padding: 0;
    border-right: 1px solid #E7E7E7;
}
#mega-menu li:first-child {
    border-left: 1px solid #E7E7E7;
}

#mega-menu li a {
    float: left;
    display: block;
    color: #101010;
    padding: 0px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

#mega-menu li.mega-hover a, #mega-menu li a:hover {
    color: #EF7500;
}

#mega-menu li .sub-container {
    position: absolute;
    top: 0;
}
#mega-menu li .sub {
    background: #EF7500 url("/images/shadow-footer-bar.png") repeat-x;
    padding: 15px;
    margin-top: 16px;

}
#mega-menu li .sub .row {
    width: 100%;
    overflow: hidden;
    clear: both;
}
#mega-menu li .sub li {
    list-style: none;
    float: none;
    width: 170px;
    font-size: 1em;
    font-weight: normal;
}
#mega-menu li .sub li.mega-hdr {
    margin: 0 10px 10px 0;
    float: left;
    border: none;
}
#mega-menu li .sub li.mega-hdr.last {
    margin-right: 0;
}
#mega-menu li .sub a {
    background: none;
    color: #111;
    padding: 0;
    display: block;
    float: none;
    font-size: 13px;
}
#mega-menu li .sub li.mega-hdr a.mega-hdr-a {
    padding: 10px 0 10px 0;
    font-weight: bold;
    color: #fff;
    font-size: 13px;
}

#mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {
    color: #101010;
}

#mega-menu .sub li.mega-hdr li a {
    padding: 0 0;
    font-weight: normal;
    font-size: 11px;
    text-transform: none;
    color: #ffffff;
    margin-bottom: 2px;
}
#mega-menu .sub li.mega-hdr li a:hover {
    color: #101010;
}

#mega-menu .sub ul li {
    padding-right: 0;
    border: none;
}
#mega-menu li .sub-container.non-mega .sub {
    padding: 10px;
}
#mega-menu li .sub-container.non-mega li {
    padding: 0;
    margin: 0;
    font-weight: bold;
    border: none;
}
#mega-menu li .sub-container.non-mega li a {
    padding: 10px 0 10px 0;
    color: #ffffff;
}
#mega-menu li .sub-container.non-mega li a:hover {
    color: #101010;
}

/*******************************/


#footer-section {
    display: none;
}
footer {
    background: #FFFFFF;
    font-family: Arial, Verdana;
    position: relative;
    margin: -240px 0 0;
    display: block;
    height: 240px;
}

    footer section {
        width: 980px;
        margin: 0 auto;
        padding: 33px 0;
        overflow: hidden;
    }
    
        footer section .links {
            float: left;
            margin-right: -308px;
            width: 100%;
        }

            footer section .links .wrapper {
                font-size: 0;
                margin-right: 308px;

            }

        footer section nav {
            display: block;
            margin-right: 15px;
        }

            footer section nav h3 {
                color: #424542;
                margin-bottom: 12px;
            }

            footer section nav ul {
                font-size: 0;
            }

                footer section nav ul li {
                    font-size: 12px;
                    color: #6B6D6B;
                    background: url("/images/list-point.png") no-repeat scroll left 4px transparent;
                    margin-bottom: 6px;
                    padding-left: 12px;
                }

                    footer section nav ul li.rss {
                        background: url("/images/rss-list-icon.png") left top no-repeat;
                        padding-left: 20px;
                    }
                    footer section nav ul li.twitter {
                        background: url("/images/twitter-list-icon.png") left top no-repeat;
                        padding-left: 20px;
                    }
                    footer section nav ul li.linkedin {
                        background: url("/images/linkedin-list-icon.png") left top no-repeat;
                        padding-left: 20px;
                    }
                    footer section nav ul li.facebook {
                        background: url("/images/facebook-list-icon.png") left top no-repeat;
                        padding-left: 20px;
                    }
                    footer section nav ul li.youtube {
                        background: url("/images/youtube-list-icon.png") left top no-repeat;
                        padding-left: 20px;
                    }
                    footer section nav ul li.pinterest {
                        background: url("/images/pinterest-list-icon.png") left top no-repeat;
                        padding-left: 20px;
                    }
                    footer section nav ul li.google {
                        background: url("/images/google-list-icon.png") left top no-repeat;
                        padding-left: 20px;
                    }


                footer section nav ul li a {
                    color: inherit;
                    text-decoration: none;
                }

                    footer section nav ul li a:hover {
                        color: #292829;
                    }

        footer section .functional-block {
            display: inline-block;
            vertical-align: top;
            width: 307px;
            height: 151px;
            position: relative;
        }

            footer section .functional-block .search-block {
                width: auto;
                height: auto;
                font-size: 0;
                -wefkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20) inset;
                -moz-box-shadow:    0 0 20px 0 rgba(0, 0, 0, 0.20) inset;
                -o-box-shadow:      0 0 20px 0 rgba(0, 0, 0, 0.20) inset;
                box-shadow:         0 0 20px 0 rgba(0, 0, 0, 0.20) inset;
                margin-bottom: 20px;
                border-radius: 6px;
            }

                .search-block input {
                    border: 1px solid #D6D3D6;
                    border-right: none;
                    padding: 5px 5px;                    
                    font-size: 13px;
                    font-style: italic;
                    color: #8C8A8C;
                    width: 260px;
                    background: transparent;
                    margin: 0;
					border-radius: 6px 0 0 6px;
                    height: 16px;
                }

                .search-block .background-button {
                    display: inline-block;
                    width: 32px;
                    height: 26px;
                    border: 1px solid #FF9A31;
                    
                    background: #FF8A10;
                    background: -webkit-linear-gradient(top, #FFC384, #FF8A10);
                    background: -moz-linear-gradient(top, #FFC384, #FF8A10);
                    background: -o-linear-gradient(top, #FFC384, #FF8A10);
                    background: linear-gradient(top, #FFC384, #FF8A10);
                    vertical-align: top;
					
					border-radius: 0 4px 4px 0;
                    float: right;

                }

                .search-block .background-button:hover {
                    background: #FF9F3B;
                    background: -webkit-linear-gradient(top, #FFC384, #FF9F3B);
                    background: -moz-linear-gradient(top, #FFC384, #FF9F3B);
                    background: -o-linear-gradient(top, #FFC384, #FF9F3B);
                    background: linear-gradient(top, #FFC384, #FF9F3B);					
                }

                    .search-block .background-button button {
                        display: block;
                        width: 100%;
                        height: 100%;
                        border: none;
                        margin: 0;
                        padding: 0;
                        cursor: pointer;
                        outline: none !important;
                        background: url("/images/search-footer-icon.png") no-repeat scroll center center transparent !important;                        
                    }

            footer section .functional-block .newsletter-block {
                background: #ADAEAD;
                border: 1px solid #949694;                
                padding: 7px 10px;				
				border-radius: 4px;
                position: absolute;
                bottom: 0;
            }

                .newsletter-block #SubscribeForm_email_em_ {
                    margin-top: 7px;
                }

                .newsletter-block h3 {
                    color: #F7F7F7;
                    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
                    margin-bottom: 8px;
                }

                .newsletter-block .email-block {
                    background: #949294;
                    font-size: 0;
                    border: 1px solid #BDBEBD;
                    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.50) inset;
                }
                    .newsletter-block .email-block input {
                        display: inline-block;
                        vertical-align: top;
                        width: 243px;
                        border: none;
                        font-size: 12px;
                        padding: 5px;
                        background: transparent;
                        color: #ffffff;
                        font-style: italic;
                    }

                    .newsletter-block .email-block button {
                        background: url("/images/send-email-image.png") no-repeat scroll 9px 7px transparent !important;
                        border: none;
                        height: 25px;
                        width: 27px;
                        cursor: pointer;
                        background: url("/images/send-email-image.png") no-repeat;
                        float: right;
                    }

                    .newsletter-block .email-block button:hover {
                        background: url("/images/send-email-image-shadow.png") scroll center 7px no-repeat !important;
                    }

.bottom-info-line {
    background: #6B6D6B url("/images/shadow-footer-bar.png") top left repeat-x;
    font-family: Arial, Verdana;
}

    .bottom-info-line section {
        overflow: hidden;
        width: 980px;
        margin: 0 auto;
        font-size: 11px;
        color: #DEDBDE;
        padding: 15px 0;
    }

        .bottom-info-line section p {
            display: inline-block;
            vertical-align: top;
            margin-right: 3px;
        }

        .bottom-info-line section .footer-bottom-menu {
            display: inline-block;
            vertical-align: top;
        }

            .bottom-info-line section .footer-bottom-menu li {
                display: inline-block;
                border-left: 1px solid #DEDBDE;
                padding-left: 5px;
                line-height: 11px;
                padding: 0 5px;
            }

                .bottom-info-line section .footer-bottom-menu li a {
                    color: inherit;
                    text-decoration: none;
                }

                    .bottom-info-line section .footer-bottom-menu li a:hover {
                        color: #FFFFFF;
                    }



#content {
    margin: 0 auto;
    padding-bottom: 240px;
    margin-top: -30px;
}

    #content > .body-page {
        margin: 0 auto;
        width: 980px;
    }

        #content > .body-page > header {
            display: block;
            font-family: Arial;
            margin-bottom: 30px;
        }

        #content > .body-page > header h2 {
            color: #6b6d6b;
            font-size: 24px;
            text-align: center;
            margin-bottom: 6px;
            font-weight: bold;
            font-family: "Trebuchet MS", Helvetica, Garuda,	sans-serif;
        }


.body-page > header ul {
    display: block;
    text-align: center;
    font-size: 0;
}

.body-page > header ul li {
    display: inline-block;
    color: #393C39;
    font-size: 14px;
    padding: 0 10px;
    border-right: 1px solid #CECFCE;
}

.body-page > header ul li:last-child {
    border: none;
}

.body-page > header ul li a {
    text-decoration: none;
    color: inherit;
}

.body-page > header ul li a:hover,
.body-page > header ul li.active,
#mega-menu li.active a {
    color: #EF7500;
}


/**********************************/

.content-block {
    height: auto;
    margin-bottom: 40px;
    font-size: 0;
    overflow: hidden;
}

    .content-block ul {
        list-style-position: outside;
    }

.content-block.backgrounded {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDFDE;
    
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    font-family: Arial;
    padding: 30px 0;
	
	border-radius: 5px 5px 5px 5px;
}


/***************************************/

.button {
    display: inline-block;
    font-family: georgia;
    padding: 5px 10px;
    color: white;
    font-size: 13px;
    font-style: italic;
    text-decoration: none;
    background: #00659C;
    background: -webkit-linear-gradient(top, #007DBD, #00659C);
    background: -moz-linear-gradient(top, #007DBD, #00659C);
    background: -o-linear-gradient(top, #007DBD, #00659C);
    background: linear-gradient(top, #007DBD, #00659C);
    border: 1px solid #0875AD;
    
	border-radius: 4px;	
}

.button:hover {
    background: #003852;
    background: -webkit-linear-gradient(top, #08618C, #003852);
    background: -moz-linear-gradient(top, #08618C, #003852);
    background: -o-linear-gradient(top, #08618C, #003852);
    background: linear-gradient(top, #08618C, #003852);
    border: 1px solid #10658C;	
}

.submit-button {
    background: #292C29;
    background: -webkit-linear-gradient(top, #292C29, #000000) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(top, #292C29, #000000) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(top, #292C29, #000000) repeat scroll 0 0 transparent;
    background: linear-gradient(top, #292C29, #000000) repeat scroll 0 0 transparent;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 15px;
	
}

    .submit-button:hover {
        background: #444B44;
        background: -webkit-linear-gradient(top, #444B44, #212421) repeat scroll 0 0 transparent;
        background: -moz-linear-gradient(top, #444B44, #212421) repeat scroll 0 0 transparent;
        background: -o-linear-gradient(top, #444B44, #212421) repeat scroll 0 0 transparent;
        background: linear-gradient(top, #444B44, #212421) repeat scroll 0 0 transparent;
    }


.col2 {
    width: 49.55555%;
    display: inline-block;
    vertical-align: top;
}

.col3 {
    width: 33.1222%;
    display: inline-block;
    vertical-align: top;
}

.col4 {
    width: 24.8555%;
    display: inline-block;
    vertical-align: top;
}


.offset20 {
    padding: 0 20px;
}

.offset30 {
    padding: 0 30px;
}

#wrapper > header section .logotype figure {
    height: 98px;
    width: 248px;

}

.errorMessage {
    color: red;
    font-size: 12px;
}




/*******************************/


.box-modal {
    position: relative;
    width: 500px;
    padding: 26px 32px;
    background: #fff;
    color: #3c3c3c;
    font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
    border-radius: 6px;
}
.box-modal_close { position: absolute; right: 10px; top: 6px; font-size: 11px; line-height: 15px; color: #999; cursor: pointer; }
.box-modal_close:hover { color: #666; }

.box-modal.step1 {width: 504px;}
.box-modal.step2 {width: 220px;}
.box-modal.step3 {width: 300px;}
.box-modal.step4 {width: 460px;}
.box-modal.step5 {width: 306px;}


    .box-modal .errorMessage {
        margin-top: 2px;
    }

    .box-modal section header {
        margin-bottom: 10px;
    }

    .box-modal section p {
        margin-bottom: 10px;
    }

    .box-modal section b {
        font-weight: bold;
    }

    .box-modal section .control {
        text-align: center;
    }

    .box-modal section .selections {
        padding: 20px 0;
    }
        .box-modal.step3 section .selections label {
            width: 147px;
            display: inline-block;
            vertical-align: top;
        }

        .box-modal.step4 section .selections label {
            width: 228px;
            display: inline-block;
            vertical-align: top;
        }

    .box-modal section label {
        font-size: 13px;
        font-family: Arial;
        color: #3C3C3C;
        display: block;
        margin-bottom: 5px;
    }

    .box-modal section select {
        width: 220px;
        font-size: 14px;
        margin-top: 20px;
    }

    .box-modal section input[type='text'] {
        background: #F8F8F8;
        border: 1px solid #D1D2D3;
        border-radius: 3px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12) inset;
        font-size: 13px;
        padding: 5px;
        width: 210px;
    }

    .box-modal section table {
        border-collapse: collapse;
        width: 100%;
    }

        .box-modal section table tr td {
            vertical-align: top;
            width: 50%;
        }

        .box-modal section table tr.offset td {
            padding-top: 20px;
        }

        .box-modal section button {
            background: -moz-linear-gradient(top, #2F2F2F, #010101) repeat scroll 0 0 transparent;
            background: -o-linear-gradient(top, #2F2F2F, #010101) repeat scroll 0 0 transparent;
            background: -webkit-linear-gradient(top, #2F2F2F, #010101) repeat scroll 0 0 transparent;
            background: linear-gradient(top, #2F2F2F, #010101) repeat scroll 0 0 transparent;
            border: none;
            border-radius: 3px;
            color: #F8F8F8;
            font-size: 13px;
            font-weight: bold;
            padding: 5px 0;
            cursor: pointer;
            width: 220px;
        }

        .box-modal section button:hover {
            background: -webkit-linear-gradient(top, #4F4F4F, #010101) repeat scroll 0 0 transparent;
            background: -moz-linear-gradient(top, #4F4F4F, #010101) repeat scroll 0 0 transparent;
            background: -o-linear-gradient(top, #4F4F4F, #010101) repeat scroll 0 0 transparent;
            background: linear-gradient(top, #4F4F4F, #010101) repeat scroll 0 0 transparent;
        }
        
#partner-site {
    width: 980px;
    margin: 0 auto 10px auto;
    position: relative;
    height: 125px;
}
    #partner-site ul {
        position: absolute;
        right: 0;
    }
        #partner-site ul li {
            width: 155px;
            height: 120px;
            overflow: hidden;
            display: inline-block;
            margin-right: 5px;
            position: relative;
/*            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -o-border-radius: 50%;*/
        }
            #partner-site ul li.last {
                margin-right: 0;
            }
            #partner-site ul li.orange {
                background-color: #FF9A31;
            }
            #partner-site ul li.green {
                background-color: #6cbe42;
            }
            #partner-site ul li.blue {
                background-color: #08618C;
            }
            #partner-site ul li.grey {
                background-color: #ADAEAD;
            }
            #partner-site ul li > a {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
                #partner-site ul li > a > .span {
                    position: absolute;
                    left: 0;
                    bottom: 15px;
                    color: #FFFFFF;
                    font-weight: bold;
                    width: 100%;
                    text-align: center;
                }
                #partner-site ul li > a > .image {
                    -moz-transition: all .5s;
                    -webkit-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                    background-position: center center;
                    background-repeat: no-repeat;
                    height: 96px;
                    margin: 0 auto;
                    overflow: hidden;
                    width: 96px;
                    display: block;
                    
                }
                #partner-site ul li:hover > a > .image {
                    -moz-transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    -o-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    transform: scale(1.2);
                }



.search-info {
    margin: 0 20px;
    border-bottom: 1px solid #DEDFDE;
    padding-bottom: 10px;
}

.search-info div {
    display: inline-block;
    vertical-align: baseline;
    color: #5b5b5b;
    font-size: 13px;
    border-right: 1px solid #D6D7D6;
    padding: 0 20px;
    padding-right: 20px;
    font-weight: bold;
}

.search-info div span {
    color: #212421;
    font-size: 18px;
    padding: 0 0 0 5px;
    font-weight: normal;
    vertical-align: baseline;
}

.search-info div:last-child {
    border: none;
}
.search-info div:first-child {
    padding-left: 0;
}

.results-list {
    display: block;
    margin: 0 20px;
}

.results-list li {
    padding: 17px 0;
    border-bottom: 1px solid #EFEFEF;
}

.results-list li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.results-list li a {
    font-size: 15px;
    font-weight: normal;
    color: #006DA5;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.results-list li p {
    color: #8C8E8C;
}


.sitemap-list {
    margin: 0 20px;
}

.sitemap-list .list-row {
    margin-bottom: 25px;
}

.sitemap-list .list-row:last-child {
    margin-bottom: 50px;
}

.sitemap-list .list-row > section  {
    display: inline-block;
    width: 19.556789%;
    vertical-align: top;
}

.sitemap-list .list-row > section + section {
    border-left: 1px solid #EFEFEF;
}

.sitemap-list .list-row > section header {
    font-size: 14px;
    font-weight: bold;
    color: #F77900;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 20px;
}

.sitemap-list .list-row > section ul {
    display: block;
    font-size: 12px;
    margin-left: 30px;
}

.sitemap-list .list-row > section ul li {
    display: block;
    margin-bottom: 5px;
}
.sitemap-list .list-row > section ul li:last-child {
    margin-bottom: 0;
}

.sitemap-list .list-row > section ul li a {
    text-decoration: none;
    color: #737573;
}
.sitemap-list .list-row > section ul li a:hover {
    text-decoration: underline;
}

.faq-entry {
    border-bottom: 1px solid #E7E3E7;
}

.faq-entry:last-child {
    border: 0 none;
}

.content-block .faq-entry .question {
    font-size: 14px;
    color: #848484;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 0 0 40px;
    min-height: 27px;
    line-height: 20px;
    background: url('/images/faq-hide.png') no-repeat 0 50%;
    cursor: pointer;
}

.faq-entry .question.show {
    background: url('/images/faq-show.png') no-repeat 0 50%;
    color: #f67b00;
}

.faq-entry .answer {
    padding-left: 40px;
    margin-top: 15px;
    display: none;
    color: #848484 !important;
}

.pull-right {
    float: right;
}

.offset-bottom-right-20 {
    margin-right: 20px;
    margin-bottom: 20px;
}


.service-navigate {
    float: right;
}
    .service-navigate a {
        width: 24px;
        height: 24px;
        display: inline-block;
        text-decoration: none;
        margin-right: 8px;
    }
        .service-navigate a.prev {
            background: url('/images/arrow-prev.png') left top no-repeat;
        }
        .service-navigate a.prev:hover {
            background: url('/images/arrow-prev-hover.png') left top no-repeat;
        }
        .service-navigate a.next {
            background: url("/images/arrow-next.png") left top no-repeat;
        }
        .service-navigate a.next:hover {
            background: url("/images/arrow-next-hover.png") left top no-repeat;
        }
    
    
article.news-block {
    height: 236px;
    position: relative;
}
    article.news-block a.button {
        position: absolute;
        bottom: 0;
    }
    
.tweets-gradient {
    top: 130px;
    left: 0px;
    width: 310px;
    position: absolute;
    z-index: 300;
    height: 20px;
    background: url('/images/tweets-gradient.png') repeat-x;
    opacity: 0.9;
}